body{
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: auto;
}

canvas{
  background: #006969;
  margin: auto;
  display: block;
}

#game{
  display: none;
}


#c {
  background-color: darkgray;
  width: 512px;
  height: 128px;
  display: flex;
  flex-flow: row wrap;
}

.L {
  transform: scaleX(-1)
}

#c > * {
  width: 64px;
  height: 64px;
  background-color: white;
}

.m {
  border: 1px solid black;
}

.h{
  filter:  sepia() saturate(10000%) hue-rotate(60deg) brightness(10000%) drop-shadow(5px 5px 3px black);
}

.f {
  opacity: 50%
}

pre{
  color:white;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 512px;
  height: 640px;
  background-color: black;
  z-index: 2;
}


#end {
  display:none;
}
