body{
  background-color: black;
}

canvas{
  border:1px solid #ca1616;
  width: 512px;
  height: 512px;
  background: #006969;
}

* {
  margin: auto;
  display: block;
  box-sizing: border-box;
}

#controls {
  background-color: darkgray;
  width: 512px;
  height: 128px;
  display: flex;
  flex-flow: row wrap;
}

.L {
  transform: scaleX(-1)
}

#controls > * {
  width: 64px;
  height: 64px;
  background-color: white;
}

.moveBlock {
  border: 1px solid black;
}

.faded {
  opacity: 50%
}
