body{
  background-color: black;
}

canvas{
  border:1px solid #ca1616;
  width: 512px;
  height: 512px;
  background: #006969;
}

* {
  margin: auto;
  display: block;
  box-sizing: border-box;
}

#c {
  background-color: darkgray;
  width: 512px;
  height: 128px;
  display: flex;
  flex-flow: row wrap;
}

.L {
  transform: scaleX(-1)
}

#c > * {
  width: 64px;
  height: 64px;
  background-color: white;
}

.m {
  border: 1px solid black;
}

.f {
  opacity: 50%
}

pre{
  color:white;
  overflow-x: auto;
            white-space: pre-wrap;
            word-wrap: break-word;
}

#intro{
  width: 512px;
  margin-left: auto;
  margin-right:auto;
}
